footer
{
    background-color: #FFF;
    border-top: 1px solid #CCC;
    min-height: 60px;
    height: 60px;
    width: 100%;

    margin-top: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}
